<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Luke, I am your father">
    <title>Easy Shop</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container div-center" style="padding-top: 20px">
		<h2 style="text-align:center"><strong>Sauf oder Stirb!</strong></h2>
	</div>
	<div class="container div-center" style="padding-top: 20px">
		<h4 id="table_id">Tisch [[${table_nr}]]</h4>
	</div>
	<div th:fragment="overview">
		<div class="container div-center" style="padding-top: 20px">
	    	<form id="orderForm">
	          <div class="form-group" th:each="item,state : ${items}">
	          		<label>[[${item.name}]] ([[${#numbers.formatDecimal(item.price, 1, 'COMMA', 2, 'POINT')}]] €)</label>
			        <select class="form-control" th:id="item + ${state.index}" th:name="${item.name}">
   						    <option th:each="i : ${#numbers.sequence(0, item.maxAmount)}" th:value="${i}" th:text="${i}" th:selected="0"></option>
  					</select>
			  </div>
			  <button type="submit" class="btn btn-primary">Bestellen</button>
			</form>
	    </div>
	</div>
	
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/formToJson.min.js}"></script>
	
	<!-- Post order to service -->
	<script>
	$(document).ready(function(){
	    var form = $('#orderForm');
	    form.submit(function(e) {
	        e.preventDefault();
	        var obj = '{"table":"';
	        obj += '[[${table_nr}]]' + '",';
	        obj += '"orderPos":[';
	        var arr = form.serializeArray();
	        for(var i = 0; i < arr.length; i++){
	        	obj +='{';
	        		obj +='"item":{';
	        			obj +='"name":"'
	        			obj +=arr[i].name;
	        			obj +='"';
	        		obj +='},';
	        		obj +='"amount":"';
	        		obj +=arr[i].value;
	        		obj +='"';
	        	obj +='}';
	        	if(i < arr.length - 1) {
	        		obj +=',';
	        	}
	        }
	        obj += ']}'
	        console.log(obj);
	        var xhr = $.ajax({
	            "url": "/api/order",
	            "type": "POST",
	            "dataType": "json",
	            "contentType": "application/json",
	            "data": obj,
	            success: function(result) {
	            	alert(xhr.getResponseHeader("Order"));
	            	window.location.reload(false); 
	            },
	        	error: function(result) {
	            	alert(xhr.getResponseHeader("Order"));
	            	window.location.reload(false); 
	        	}
	        });
	    });
	});
	</script>

</body>
</html>